@page
@model _2._sem_projekt_boglistesystemet.Pages.Privacy1Model
@{
}


<p>Book List.</p>
<hr style="width: auto" , size="5" , color=black>


<div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Book Name

            </th>
            <th>

            </th>
            <th>
                Price
            </th>
            <th>
                Book Info
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
