@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Page";
}
<h1>@ViewData["Title"]</h1>


<hr style="width: auto" , size="10"  color="black">


<div class="text-center ">
    <br />
    <br />

    <h1 style="align-content:center; font-family:'Franklin Gothic';font-size:xx-large;border-bottom:solid black; padding-top:5px;">Our Privacy Rules</h1>

    <br />
    <br />


</div>

<hr style="width: auto" , size="10" color="black">
