@page
@model _2._sem_projekt_boglistesystemet.Pages.SupportModel
@{
}


<hr style="width: auto" , size="10"  color="black">


<div class="text-center ">
    <br />
    <br />

    <h1 style="align-content:center; font-family:'Franklin Gothic';font-size:xx-large; padding-top:5px;">Kontakt os med dit problem, og vi hjælper hurtigst muligt!</h1>

    <br />
    <br />


</div>

<hr style="width: auto" , size="10" color="black">

<br />

<h2> Hvordan Gør Jeg? <br /> Toturial 101</h2>
<hr style="width: auto" , size="10" color=black>
<h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.


</h5>

<br />

<br />
<h2> Hvordan Laver Jeg Min Liste Af Bøger? <br /> Jeg Fatter Hat</h2>
<hr style="width: auto" , size="10" , color=black>
<h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta erat urna, at sagittis odio vehicula vel.
    Aenean gravida suscipit quam et vestibulum. Donec condimentum dapibus erat ultricies lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam ut nisl ante. Etiam dolor nisi, eleifend eget diam sed, tincidunt pretium mauris. Praesent
    iaculis nisi eu accumsan sollicitudin. Proin pellentesque felis sed tellus facilisis, quis mollis quam convallis. Cras porta
    at diam mattis convallis. Vestibulum vitae libero in tellus iaculis elementum in ut justo. Donec hendrerit porta accumsan.
    Mauris commodo justo eu ante euismod finibus.


</h5>

<br />


<h6 style="font-family:'Times New Roman', Times, serif;color:darkred;">Need Help? Click The Button Below To Go TO Support!</h6>
<br />
<a href="https://localhost:7135/Support" class="btn btn btn-outline-danger btn-solid">Gå Til Support</a>
<br />