<!DOCTYPE html>
<html lang="en">

    @*Shared Layout*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BogListe Systemet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_2._sem_projekt_boglistesystemet.styles.css" asp-append-version="true" />
</head>
<body >
    <header>


      
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">

            <img src="https://i.postimg.cc/rwPvXddK/BookLogo.jpg" alt="Girl in a jacket" style="width:120px;height:120px;
  border-radius: 5px;
  padding: 4px; margin-left: 41px; ">
            <div class="container" >
                
               
                <a class="navbar-brand bottom-50" style=" font-weight:bold;" asp-area="" asp-page="/Index">BogListeSystemet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style=" font-weight:bold;" asp-area="" asp-page="/Accounts/login">Underviser</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold;" asp-area=" " asp-page="/Accounts/login">Koordinator</a>
                            
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold;" asp-area=" " asp-page="/Support">Support</a>

                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold;" asp-area=" " asp-page="/Privacy">Privacy Rules</a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="bg-white height: max; wídth center;">
       
    </div>

    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BogListe Systemet - <a asp-area="" asp-page="/Privacy">Privacy Rules</a>
            
            <h6> Sociale Medier :

            <a href="https://www.instagram.com/" target="_blank">           Følg Os På Vores BogListe Instagram </a>
            <img height="20 %" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-512.png" />
            //
            <a href="https://www.facebook.com/" target="_blank">            Følg Os På Vores BogListe FaceBook</a>
            <img height="30 %" src="https://nykobingfc.com/wp-content/uploads/2017/02/Facebook-Logo.png" />
 </h6>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>